/* Variables */
body {
    --callout-radius: var(--radius-l);
    --callout-title-padding: 0em 0em 0em 0em;
    --color-gray-rgb: 128, 128, 128;
}

.callout:not([data-callout="note-toolbar"]) {
    border-width: 1.25px;
    padding: 1em;
    border-radius: var(--callout-radius);
    border-color: rgba(var(--callout-color), 0.5);
    background-color: rgba(var(--callout-color), 0.1);
}

/* Icon */
.callout:not([data-callout="note-toolbar"]) .callout-icon {
      display: none;
      padding-top: 1px;
      margin-right: 0.2em;
}

/* .callout[data-callout="repository"] .callout-icon {
    display: block;
    padding-top: 1px;
    margin-right: 0.2em;
} */



/* .callout-icon .svg-icon {
    color: rgba(var(--callout-color), 0.9);
} */

/* Title */
.callout:not([data-callout="note-toolbar"]) > .callout-title {
    padding: var(--callout-title-padding);
    font-size: var(--font-text-size) !important;
}

.callout:not([data-callout="note-toolbar"]) > .callout-title > .callout-title-inner {
    flex-grow: var(--anp-callout-fold-position, unset);
    font-weight: 500;
    margin-left: 0;
}

/* Content */ 

.callout:not(.is-collapsible):not([data-callout="note-toolbar"]) .callout-content {
    margin-top: -1em;
    margin-bottom: -1lh;
}

/* Classes */

.callout[data-callout="tip"] {
    --callout-color: var(--color-green-rgb);
}

.callout[data-callout="info"] {
    --callout-color: var(--color-yellow-rgb);
    --callout-icon: lucide-info;
}


.callout[data-callout="aside"] {
    --callout-color: var(--color-yellow-rgb);
    --callout-icon: lucide-list-plus;
}

.callout[data-callout="summary"],
.callout[data-callout="description"],
.callout[data-callout="abstract"] {
    --callout-color: var(--color-green-rgb);
    --callout-icon: lucide-text-A;
}

.callout[data-callout="transcript"],
.callout[data-callout="full-text"] {
    --callout-color: var(--color-gray-rgb);
    --callout-icon: lucide-caption;
}

.callout[data-callout="todo"] {
    --callout-color: var(--color-yellow-rgb);
    --callout-icon: lucide-circle-check;

    right: -5em;
}


.callout[data-callout="deprecated"] {
    --callout-color: var(--color-orange-rgb);
    --callout-icon: lucide-warning;
}

.callout[data-callout="user"] {
    --callout-color: var(--color-blue-rgb);
    --callout-icon: lucide-message-square;
}

.callout[data-callout="assistant"] {
    --callout-color: var(--color-gray-rgb);
    --callout-icon: lucide-bot-message-square;
}

.callout[data-callout="assistant"] .table{
    --callout-color: var(--color-gray-rgb);
    --callout-icon: lucide-bot-message-square;
}

.callout[data-callout="method"] {
    --callout-color: var(--color-green-rgb);
    --callout-icon: lucide-message-square;
}

.callout[data-callout="definition"] {
    --callout-color: var(--color-yellow-rgb);
    --callout-icon: lucide-message-square;
}

/* GitHub callouts */

.callout[data-callout="readme"] .callout-icon /*,
.callout[data-callout="repository"] .callout-icon */ {
    display: inline-block !important;
    padding-right: var(--size-4-1);
} 

.callout[data-callout="readme"] .callout-icon svg.svg-icon {
    height: var(--icon-s);
    width: var(--icon-s);
}

.callout[data-callout="readme"],
.callout[data-callout="readme"] img {
    --callout-icon: lucide-book-open;
    --callout-color: none;
}

.callout[data-callout="q"] {
    --callout-color: var(--color-gray-rgb);
    background-color: transparent !important;
}

.callout[data-callout="q"] > .callout-title {
    color: var(--text-color);
    font-weight: 600;
}

.callout[data-callout="q"] > .callout-content {
    margin-top: -2.1lh;
    padding-left: 2em;
}

.callout[data-callout="q"] > .callout-content > .callout[data-callout="q"] {
    border: none;
    padding-left: 0;
}

.callout[data-callout="q"] > .callout-content > .callout[data-callout="q"] > .callout-content{
    margin-top: -2.1lh;
    padding-left: 2em;
}

.callout[data-callout="q"] > .callout-content > :not(.marks) {
    padding-right: 1.5em;
}

.theme-dark .callout[data-callout="q"] img {
    filter: invert(1);
}

.marks.one {
    margin-top: 2lh;
}

.marks.two {
    margin-top: 4lh;
}

.marks.three {
    margin-top: 9lh;
}

.marks.four {
    margin-top: 9lh;
}

.marks.one::after {
    content: '(1 mark)';
}

.marks.two::after {
    content: '(2 marks)';
}

.marks.three::after {
    content: '(3 marks)';
}

.marks.five::after {
    content: '(5 marks)';
}

.marks {
    text-align: right;
    color: var(--text-muted);
    border-top: 1px dotted var(--text-muted);
    padding-top: 0.65em;
    width: 40%;
    margin-left: auto;
    padding-bottom: 1.3em;;
}



.callout[data-callout="readme"] > .callout-title {
    color: var(--metadata-label-text-color) !important;
    font-size: var(--metadata-label-font-size) !important;
    font-weight: var(--metadata-label-font-weight) !important;
}

.callout[data-callout="readme"] > .callout-title > .callout-title-inner {
    text-transform: uppercase;
}

.callout[data-callout="collection"] {
    font-family: var(--font-monospace);
    line-height: var(--line-height-tight);
    --callout-color: var(--color-blue-rgb);
    --callout-icon: lucide-folder;
    background-color: rgba(var(--callout-color), 0.05);
}

.callout[data-callout="repository"] {
    font-family: var(--font-monospace);
    line-height: var(--line-height-tight);
    --callout-color: none;
    border-color: var(--ui2) !important;
    --callout-icon: lucide-folder-git;
    background-color: var(--bg3) !important;
}



.callout[data-callout="repository"] .callout-content {
    margin-top: -1.2lh;
}

.callout[data-callout="repository"] > .callout-title > .callout-title-inner,
.callout[data-callout="collection"] > .callout-title > .callout-title-inner {
    font-size: var(--code-size) !important;
    font-weight: 600;
}

.callout[data-callout="repository"] > .callout-content,
.callout[data-callout="collection"] > .callout-content {
    padding-left: 2.5em;
    font-size: var(--code-size);
}

.callout[data-callout="repository"] > .callout-content :not(a:hover) :not(strong),
.callout[data-callout="collection"] > .callout-content :not(a:hover) :not(strong){
    color: var(--text-normal);
}

.callout[data-callout="repository"] > .callout-content a:hover,
.callout[data-callout="collection"] > .callout-content a:hover {
    color: var(--link-color-hover) !important;
}

/* .callout[data-callout="repository"] > .callout-content strong {
    color: rgb(var(--callout-color), 0.8) !important;
} */

.callout[data-callout="repository"] > .callout-title::after,
.callout[data-callout="collection"] > .callout-title::after {
    content: "/";
}

.callout[data-callout="repository"] > .callout-content > ul > li::before,
.callout[data-callout="collection"] > .callout-content > ul > li::before {
    content: '├──';
}

