.cards table.dataview > tbody > tr {
    border-radius: 15px !important;
    padding: 0.5em !important;
}

.cards table.dataview tbody > tr > td:has(img) {
    padding-top: 0;
    margin-bottom: 0.15em;
    border-radius: 0;
}

.cards table.dataview tbody > tr > td img {
    background-color: transparent !important;
}

.cards table.dataview tbody > tr:active {
    outline: 1.5px var(--ax1) solid !important; 
    outline-offset: -1.5px !important; 
    href: url("https://www.google.com/search?sca_esv=1e35dc1f4110e681&q=journal+app+ios&udm=2&fbs=ABzOT_CWdhQLP1FcmU5B0fn3xuWpA-dk4wpBWOGsoR7DG5zJBnsX62dbVmWR6QCQ5QEtPRraxhoPjADqmO89ujyoebNG-w062fhw1TM_M926kBmVX4vZa1uz_Uthi7o7Iht2wOSv-JlAJl8gMdQg1Bwiv6BkN6nYhWJUuFskbb4yLWmG3660Xfctffgvp-gO8JnkLqup23pF&sa=X&ved=2ahUKEwjsldjw8qiLAxXVRkEAHRY-I3sQtKgLegQIFBAB&biw=1017&bih=762&dpr=2") !important;
} 

body {
    --cards-background: var(--bg2);
    --cards-border: var(--ui3);
}

/* clipping cards */
.cards .cards-clipping table.dataview tbody > tr {
    aspect-ratio: 1 / 1 !important;
    /*box-shadow: inset 0px -3px 6px 3px rgba(30, 30, 30, 0.4) !important;*/
    /*padding: 0.25em; */
}

.cards .cards-clipping table.dataview tbody > tr a {
    color: var(--text-normal);
    font-weight: 500;
}


.cards. cards-clipping table.dataview tbody > tr > td:nth-child(3){
    color: var(--text-normal);
}

.cards.cards-clipping table.dataview tbody > tr > td:nth-child(2) {
    border-bottom: none !important;
    text-align: right;
    display: block;
    margin-top: -2em !important;
    box-sizing: none !important;
    
}


.cards .cards-clipping table.dataview a {
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    overflow-inline: break-word !important;
}

.cards .cards-clipping table.dataview td:first .el-p {
    position: sticky;
    float: right;
}




.cards.cards-square table.dataview tbody > tr {
    aspect-ratio: 1 / 1;
    white-space: normal;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    overflow-inline: break-word !important;
}



.cards.cards-portrait table.dataview tbody > tr {
    aspect-ratio: 2 / 3 !important;
}

.cards table.dataview tbody > tr > td:has(img) {
    background-color: rgba(255, 255, 255, 0);
}

.cards table.dataview tbody > tr > td:has(img) {
    background-color: rgba(255, 255, 255, 0);
}
                         
.cards.cards-square table.dataview tbody > tr a,
.cards.cards-portrait table.dataview tbody > tr a,
.cards.cards-square table.dataview tbody > tr span,
.cards.cards-portrait table.dataview tbody > tr span {
    margin-top: 0.35em !important;
    font-size: 1.05em !important;
    overflow: hidden;
    white-space: nowrap;
}


/* .cards.cards-square table.dataview tbody > tr > td:nth-child(3) > ul > li > ul > li > span > a,
.cards.cards-portrait table.dataview tbody > tr > td:nth-child(3) > ul > li > ul > li > span > a,
.cards.cards-square table.dataview tbody > tr > td:nth-child(3) > span > a,
.cards.cards-portrait table.dataview tbody > tr > td:nth-child(3) > span > a {
    color: var(--text-muted) !important;
    font-style: italic;
} */
 
.cards.cards-square table.dataview tbody > tr > td img {
    aspect-ratio: 1 / 0.75 !important;
}

.cards.cards-portrait table.dataview tbody > tr > td img {
    aspect-ratio: 0.75 / 1;
}

.cards.cards-square table.dataview tbody > tr > td a {
    background-image: none !important;
}

.cards.cards-square table.dataview tbody > tr > td a.external-link {
    color: var(--text-muted) !important;
}

.block-language-cardlink {
    background-color: transparent !important; 
}


.country-cards table.dataview tbody > tr:hover {
    background-color: var(--bg2) !important;
}

.country-cards table.dataview tbody > tr {
    width: 20%;
}


.country-cards table.dataview tbody > tr > td:nth-of-type(1) {
    text-align: center;
}

.country-cards table.dataview tbody > tr > td:nth-of-type(2) img {
    width: 100% !important;
    height: auto;
    position: flex;
    border-radius: px;
}

.country-cards table.dataview tbody > tr > td:nth-of-type(3) img {
    width: 30% !important;
    height: auto;
}