/* Theme colors */
:root {
  /* The required naming pattern for the plugin */
  --chart-color-1: rgb(var(--color-red-rgb)); 
  --chart-color-2: rgb(var(--color-green-rgb));
  --chart-color-3: rgb(var(--color-blue-rgb));
  --chart-color-4: rgb(var(--color-yellow-rgb));
  --chart-color-5: rgb(var(--color-purple-rgb));
  --chart-color-6: rgb(var(--color-orange-rgb));
  --chart-color-7: rgb(var(--color-gray-rgb));
  --chart-color-8: rgb(var(--color-cyan-rgb));
}