body {
    --radius-xs: 6px;
    --radius-s: 8px;
    --radius-m: 12px;
    --radius-l: 15px;
    --image-radius: var(--radius-l);
    --tab-radius: var(--radius-s);
    --input-radius: var(--radius-s);
}

.tabs-modern .workspace-tab-header {
    border-radius: var(--radius-s) !important;
}

blockquote a {
    opacity: .7;
}

blockquote a:hover {
    opacity: .95;
}


/* Inline titles */
.no-title .inline-title {
    display: none;
}

/* Inline titles */
.inline-title {
    text-wrap: pretty;
}

.italic-title .inline-title {
font-style: italic;
}

body {
    --icon-size: var(--icon-s);
}

/* Footnotes */
sup {  
    vertical-align: top !important; /* Fixes inconsistent line height. Default = super */
    font-size: var(--font-smallest); 
}

.markdown-preview-view .iconize-inline-title-wrapper {
    margin-inline-start: 0 !important;
}

/* cssclasses */
/* .repositories .inline-title {
    display: none !important;
} */

.external-embed,
video {
    border-radius: 15px !important;
    border-color: var(--ui1) !important;
}

/* Note embeds */
body {
    --embed-border-start: 1px solid var(--ui2);
}
