/* Captions */

figure.image-captions-figure {
    background: none !important;
}

figcaption.image-captions-caption {
    font-size: var(--metadata-label-font-size);
    font-weight: var(--metadata-label-font-weight);
    color: var(--metadata-label-text-color);
    padding-top: 1em;
    text-align: left;
    text-wrap: balance;
    background: none !important;
}

/* Image blocks */

img {
--screenshotPadding: 112px;   
border-radius: var(--image-radius);
}

/*span[src$="#screenshot"] img {
    width: calc(100% + var(--screenshotPadding));
    margin-left: -28px;
    margin-right: -56px;
} */

.dataview.dataview-inline-query .image-captions-caption {
    text-align: center !important;
}