.nav-folder:is([data-path="Library"]) > .nav-folder-title {
    color: red;
}


/* Checklist plugin */

/* Changing the gear icon to be consistent with the other icons */
.checklist-plugin-main .settings-container > svg > path[d^="M44.4"] {
    visibility: hidden;
}

.checklist-plugin-main .settings-container > svg {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iIzg3ODU4MCIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zZXR0aW5ncy0yIj48cGF0aCBkPSJNMjAgN2gtOSIvPjxwYXRoIGQ9Ik0xNCAxN0g1Ii8+PGNpcmNsZSBjeD0iMTciIGN5PSIxNyIgcj0iMyIvPjxjaXJjbGUgY3g9IjciIGN5PSI3IiByPSIzIi8+PC9zdmc+");
    background-size: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
}

.checklist-plugin-main input.search::placeholder {
    color: var(--text-faint);
}

.tree-item.nav-file > .tree-item-self.is-active > .tree-item-icon {
    display: flex;
    color: var(--text-on-accent);
}

div.tree-item-icon > img {
   height: 14px !important;
   width: 14px !important;
}

div.tree-item-inner-text.webviewer-history-view-item {
    margin-left: var(--size-2-3);
}

/* Consistent icon size in sidebars */

.nav-buttons-container > .clickable-icon.nav-action-button {
    --icon-size: var(--icon-s);
}

.clickable-icon.side-dock-ribbon-action .svg-icon,
.mod-left-split .workspace-tab-header-inner-icon .svg-icon,
.mod-right-split .workspace-tab-header-inner-icon .svg-icon {
  --icon-size: var(--icon-s);
  --icon-stroke: var(--icon-s-stroke-width);
}

.labeled-nav .mod-left-split .mod-top .workspace-tab-header.is-active 
.workspace-tab-header-inner {
    background-color: var(--nav-item-background-hover);
}

/*div.workspace-tabs.mod-top.mod-top-left-space > 
div.workspace-tab-header-container > 
div.workspace-tab-header-container-inner:first-of-type::before {
    content: 'Vault';
    font-size: var(--font-ui-smaller);
    color: var(--text-faint);
    font-weight: 500;
    margin-bottom: 0.2em;
} */