.table-wrapper:has(th:nth-of-type(8)) {
    --container-table-width: var(--max-width);
    --container-table-max-width: calc(var(--max-width) + var(--table-drag-space)*2);
    --container-dataview-table-width: var(--max-width);
    --container-table-margin: auto;
    --table-edge-cell-padding-first: 0px;
    --table-margin: 0;
}

.table-auto :has(tr:first-child > th:nth-child(5)):not(:has(tr:first-child > th:nth-child(6))),
.table-auto :has(tr:first-child > th:nth-child(6)):not(:has(tr:first-child > th:nth-child(7))),
.table-auto :has(tr:first-child > th:nth-child(7)):not(:has(tr:first-child > th:nth-child(8))) {
    --container-table-width: var(--line-width-wide) !important;
    --container-dataview-table-width: var(--line-width-wide) !important;
    --container-table-margin: auto !important;
    --table-edge-cell-padding-first: 0px !important;
}

.table-auto {
  --table-max-width: 100%;
  --table-width: 100%;
}
