body {
    --button-radius: 8px;
}

/* .tb-article[data-callout="note-toolbar"] li:has([href="{{prop_publication}}"]),
.tb-article[data-callout="note-toolbar"] li:has([href="{{prop_publication}}"]) span.external-link {
    color: var(--text-normal);
} */

.tb-article[data-callout="note-toolbar"]  {
    border-radius: 15px;
}

.tb-article[data-callout="note-toolbar"] ul {
    margin-left: 1.5em;
}

.tb-article[data-callout="note-toolbar"] span {
    border: 1px var(--ui1) solid;
    --cg-nt-item-padding-y: 0.1em;
    column-gap: 10px;
}